span(*ngIf="!this.imageService.message.failure")
    div(*infobox='this.imageInformation' class='infobox row')
        ng-container(*ngFor="let info of this.imageInformation['keys']; index as i")
            div(class='info-key col-sm-4')
                p() {{ info[0] | keyTransform }}:
            div(class='info-value col-sm-8')
                p(*ngFor="let value of info[1]; index as k;")
                    ng-container {{ value | valueTransform }}

    div
        div(*ngFor='let month of this.months as months; index as i' class='month {{i | monthTransform}}', [ngClass]="{'active': i == this.albumViewSelector.month}")
            a(*ngIf="month != null", (click)='setAlbumView(i)') {{i | monthTransform}}
        div(class='reel-container {{ year }}')
            ul(class='year')
                li(*ngFor='let year of this.years as years; index as m', [ngClass]="{'active': year == this.albumViewSelector.year}")
                    a((click)='setAlbumView(year)') {{ year }}
            ul(*ngIf="this.albumView.length > 6" class='paginator')
                li(*ngIf='this.currentPage > 0', (click)="this.turnAlbumPage('rewind')" class='rewind')
                    span(class='glyphicon glyphicon-triangle-left')
                li(*ngIf="this.currentPage != this.lastPage", (click)="this.turnAlbumPage('forward')" class='forward')
                    span(class='glyphicon glyphicon-triangle-right')
            div(*ngFor='let image of this.albumViewSubset as images; index as j' class='image-container')
                div(*ngIf='j < 6' data-toggle='modal' class="thumbnail" data-target-not='.assetviewer-modal' id="{{image.id}}" )
                    img((click)='this.openModal(image.id)' src="photos/{{image.file | extTransform}}", (mouseenter)='this.setImageInfo(j)', (mouseleave)='this.setImageInfo()')
                    div(class='caption')
                        p {{image.day}}&nbsp;{{image.month | monthTransform}}


div(class="modal fade assetviewer-modal" tabindex="-1" role="dialog" aria-labelledby="assetviewerModal")
    div(class="modal-dialog modal-lg" role="document")
    div(class="modal-content")
        div(class='button-close')
            span((click)="this.cancelModal()" class="glyphicon glyphicon-remove" aria-hidden="true")
        ul
            li((click)='this.flipThroughImages("previous")' class='button-left') prev
            li((click)='this.flipThroughImages("next")' class='button-right') next
        img(*modalImage="this.albumViewSelector['selectedIndex'] || this.albumViewSelector['selectedIndex'] == 0" src="photos/{{this.albumView[this.albumViewSelector['selectedIndex']]['file']}}" id="{{this.albumView[this.albumViewSelector['selectedIndex']]['id']}}")

