span(*ngIf="!this.images.message.failure" class='image-main')
  div(class='image-menu')
    app-search-field
    p(*ngIf='this.activeUser.isAdmin', (click)='this.openEditor()' type='button' class='btn btn-info btn-xs')
      span(class='glyphicon glyphicon-pencil' aria-hidden='true')
  div(*ngFor='let month of this.months as months; index as i' class='month {{month | monthTransform}}', [ngClass]="{'active': month == this.albumViewSelector.month}")
    a(*ngIf="month != null", (click)='setAlbumView(month)') {{ { name: month, language: this.activeUser.language } | monthTransform }}
  div(class='reel-container {{ year }}')
    ul(class='year')
      li(*ngFor='let year of this.years as years; index as m', [ngClass]="{'active': year == this.albumViewSelector.year}")
        a((click)='setAlbumView(year)') {{ year }}
    ul(*ngIf="this.pages > 1" class='paginator')
      li(*ngIf='this.currentPage > 1 && this.editImages.length == 0', (click)="this.turnAlbumPage('rewind')" class='rewind')
        span(class='glyphicon glyphicon-triangle-left')
      li(*ngIf="this.currentPage != this.pages && this.editImages.length == 0", (click)="this.turnAlbumPage('forward')" class='forward')
        span(class='glyphicon glyphicon-triangle-right')
              
    div(*ngFor='let document of this.documents as documents; index as j' class='image-container')
      span(*infobox='this.showImageInformation[j]' class='infobox row')
        ng-container
          div(class='row')
            div(class='info-key col-sm-3')
              p(*ngIf='document.what') {{ { name: 'what', language: this.activeUser.language } | labelTransform }}
            div(class='info-value col-sm-9')
              p {{ document.what }}
          div(class='row')
            div(class='info-key col-sm-3')
              p(*ngIf='document.who') {{ { name: 'who', language: this.activeUser.language } | labelTransform }}
            div(class='info-value col-sm-9')
              p {{ document.who }}
          div(class='row')
            div(class='info-key col-sm-3')
              p(*ngIf='document.where') {{ { name: "Where", language: this.activeUser.language } | labelTransform }}
            div(class='info-value col-sm-9')
              p {{ document.where }}
          div(class='row')
            div(class='info-key col-sm-3')  
              p(*ngIf='document.why') {{ { name: 'why', language: this.activeUser.language } | labelTransform }}
            div(class='info-value col-sm-9')
              p {{ document.why }}
      div(data-toggle='modal' class="thumbnail" data-target-not='.assetviewer-modal' id="{{document._id}}")
        img((click)='this.openModal(document._id)' src="photos/photoapp/{{document.image.fileName | extTransform}}")
        div(class='caption')
          table
            tr
              td
                p {{ {name: document.date.day, language: this.activeUser.language } | dayTransform }}&nbsp;{{ { name: document.date.month, language: this.activeUser.language } | monthTransform}}
              td
                p((mouseenter)="this.setImageInfo(j)", (mouseleave)="this.setImageInfo()")
                  span(class="glyphicon glyphicon-info-sign" aria-hidden="true")
              td
                p {{(j + 1) + ((this.currentPage - 1) * 6)}} of {{this.total}}                 
                                  
//- div(*imageEditor='this.editImages' id='image-editor')
//-   div(class='row')
//-     form(#imageEditorForm='ngForm')
//-       div(class='col-md-12' id="drag-area" onmousedown onmousemove onmouseup)
//-         span(class="glyphicon glyphicon-transfer")
//-       div(class='col-md-6')
//-         span(*ngFor='let document of this.editImages as documents; index as i')
//-           label(for='{{ i }}') image# {{ i + 1 }}
//-           div(class='image-list')
//-             span(class='input-group-addon')
//-               input(class='checkbox' id='{{ i }}' type='checkbox' aria-label='fileId' value='{{ document._id }}',[(ngModel)]='imageList[i]', name='document.image.fileName', autocomplete="off")
//-             p(class='form-control') {{ document.image.fileName }}
//-       div(class='col-md-6')
//-         span(*ngFor='let property of this.editImages.form as properties')
//-           div(*ngIf='property == "names" || property == "keywords" || property == "venue" || property == "occasion" || property =="en" || property == "da"')
//-             label(for='{{ property }}') {{ property }}
//-             input(id='{{ property }}' type='text' class='form-control' placeholder='{{ property }}', [(ngModel)]='imageModel[property]', name='{{property}}')
//-       div(class='col-md-12')
//-         div(class='select_all')
//-           label(for='select_all') Select All
//-           input(class='checkbox' id='select_all' type='checkbox' aria-label='select_all', placeholder='select all',[(ngModel)]='selectAll', name='selectAll')
//-       div(class='buttons')
//-         p((click)='this.onDelete()' type='button' class='btn btn-danger') {{ {name: 'delete', language: this.activeUser.language} | labelTransform }}
//-         p((click)='this.clearEditor()' type='button' class='btn btn-warning') {{ {name: 'cancel', language: this.activeUser.language} | labelTransform }}
//-         p((click)='this.onSubmit(e)' type='button' class='btn btn-info') {{ {name: 'update', language: this.activeUser.language} | labelTransform }}
//-   div(class='row background')
          
