span(*ngIf="!this.mongoImageService.message.failure")
    div
        div(*ngFor='let month of this.months as months; index as i' class='month {{month | monthTransform}}', [ngClass]="{'active': month == this.albumViewSelector.month}")
            a(*ngIf="month != null", (click)='setAlbumView(month)') {{month | monthTransform}}
        div(class='reel-container {{ year }}')
            ul(class='year')
                li(*ngFor='let year of this.years as years; index as m', [ngClass]="{'active': year == this.albumViewSelector.year}")
                    a((click)='setAlbumView(year)') {{ year }}
            ul(*ngIf="this.pages > 1" class='paginator')
                li(*ngIf='this.currentPage > 1', (click)="this.turnAlbumPage('rewind')" class='rewind')
                    span(class='glyphicon glyphicon-triangle-left')
                li(*ngIf="this.currentPage != this.pages", (click)="this.turnAlbumPage('forward')" class='forward')
                    span(class='glyphicon glyphicon-triangle-right')
                      
            div(*ngFor='let document of this.documents as documents; index as j' class='image-container')
                span(*infobox='this.showImageInformation[j]' class='infobox row')
                  ng-container
                    div(class='info-key col-sm-4')
                      p(*ngIf='document.who') Who:
                      p Where:
                    div(class='info-value col-sm-8')
                      p {{document.who}}
                      p {{document.where}}
                div(data-toggle='modal' class="thumbnail" data-target-not='.assetviewer-modal' id="{{document._id}}")
                    img((click)='this.openModal(document._id)' src="photos/photoapp/{{document.image.fileName | extTransform}}")
                    div(class='caption')
                        table
                            tr
                                td
                                    p {{document.date.day}}&nbsp;{{document.date.month | monthTransform}}
                                td
                                    p((mouseenter)="this.setImageInfo(j)", (mouseleave)="this.setImageInfo()")
                                        span(class="glyphicon glyphicon-info-sign" aria-hidden="true")
                                td
                                    p {{(j + 1) + ((this.currentPage - 1) * 6)}} of {{this.total}}


div(class='modal fade assetviewer-modal' tabindex='1' role='dialog' aria-labelledby='assetviewerModal')
  div(class='modal-image-container')
    span(class='modal-image-overlay-positioner')
      img(*modalImage="this.albumViewSelector['selectedIndex'] || this.albumViewSelector['selectedIndex'] == 0" class="modal-image" src="photos/James/{{this.documents[this.albumViewSelector['selectedIndex']]['image']['fileName']}}" id="{{this.documents[this.albumViewSelector['selectedIndex']]['_id']}}")
      ul(class="modal-image-overlay")
        li((click)="this.flipThroughImages('previous')" class="button-left") {{ { name: 'rwd', language: this.activeUser.language } | btnTransform }}
        li((click)="this.flipThroughImages('next')" class="button-right") {{ { name: 'fwd', language: this.activeUser.language } | btnTransform}}
      ul(class="modal-image-overlay-2")
        li(onclick="window.print(); return null;" class="button-left") {{ { name: 'print', language: this.activeUser.language } | btnTransform }}
        li(class="button-right") {{ { name: 'close', language: this.activeUser.language } | btnTransform }}
