span(*ngIf="!this.videos.message.failure", class='video-main')
  div(class='video-menu')
    p(*ngIf='this.activeUser.isAdmin', (click)='this.openEditor()' type='button' class='btn btn-info btn-xs')
      span(class='glyphicon glyphicon-pencil' aria-hidden='true')
  div(*ngFor='let month of this.months as months; index as i' class='month {{month | monthTransform}}', [ngClass]="{'active': month == this.albumViewSelector.month}")
    a(*ngIf="month != null", (click)='setAlbumView(month)') {{ { name: month, language: this.activeUser.language } | monthTransform }}
  div(class='reel-container {{ year }}')
    ul(class='year')
      li(*ngFor='let year of this.years as years; index as m', [ngClass]="{'active': year == this.albumViewSelector.year}")
        a((click)='setAlbumView(year)') {{ year }}
    ul(*ngIf="this.pages > 1" class='paginator')
      li(*ngIf='this.currentPage > 1 && this.editVideos.length == 0', (click)="this.turnAlbumPage('rewind')" class='rewind')
        span(class='glyphicon glyphicon-triangle-left')
      li(*ngIf="this.currentPage != this.pages && this.editVideos.length == 0", (click)="this.turnAlbumPage('forward')" class='forward')
        span(class='glyphicon glyphicon-triangle-right')

    div(class='video-list-container')
      ul(class='video-list')
        li(*ngFor='let video of this.documents;index as i;' class='video-item' data-toggle="modal" data-target-not='.video-modal' id="{{video._id}}")
          div(class='video-label')
            p(*ngIf='video.meta.venue') {{ video.date.day}}/{{ video.date.month + 1 }} {{ video.meta.venue }}, {{ video.location.country }}
            p(*ngIf='video.location.city') {{ video.date.day}}/{{ video.date.month + 1 }} {{ video.location.city }}, {{ video.location.country }}
            p(*ngIf='!video.location.city && !video.meta.venue') {{ video.date.day}}/{{ video.date.month + 1 }} {{ video.location.country }}
          button((click)="this.openModal(video._id)" class='btn btn-info btn-xs')
            span(class="glyphicon glyphicon-play" aria-hidden="true")

