div(*ngFor="let user of this.userService.users as users; index as i")
    div(class="col-sm-6 col-md-4")
        form(#editUserForm="ngForm", id="{{user.user_id}}" class="box-shadow panel panel-info")
            div(class="panel-heading")
                h3(class="panel-title") {{user.user_name}}
            div(class="panel-body")
                div(class="input-group input-group-sm")
                    span(class="input-group-addon" disabled) Id
                    input(disabled class="form-control" type="text", placeholder="{{user.user_id}}",)
                div(class="input-group input-group-sm")
                    div(class="input-group-btn" style="")
                        button(type="button" class="btn btn-info dropdown-toggle", data-toggle="dropdown" aria-haspopup="true", aria-expanded="false", [attr.disabled]="this.doEdit[user.user_name] == true ? null : true") Type
                            span(class="caret")
                        ul(class="dropdown-menu")
                            li(*ngFor="let account of this.accountService.accounts as accounts; index as j")
                                a((click)="addInput(this.account, i)") {{account.account_name}}
                    input(*ngIf="this.doEdit[user.user_name]", [attr.disabled]="this.doEdit[user.user_name] == true ? null : true", class="form-control" type="text" placeholder="{{user.account_type}}",[(ngModel)]="users[i].account_type", name="account_type", #account_type="ngModel")
                    input(*ngIf="!this.doEdit[user.user_name]", class="form-control" type="text" placeholder="{{user.account_type | uuidTransform:this.accountService.accounts}}" disabled)
                div(class="input-group input-group-sm")
                    div(class="input-group-btn" style="")
                        button(type="button" class="btn btn-info dropdown-toggle", data-toggle="dropdown" aria-haspopup="true", aria-expanded="false", [attr.disabled]="this.doEdit[user.user_name] == true ? null : true") Language
                            span(class="caret")
                        ul(class="dropdown-menu")
                            li(*ngFor="let language of this.languages")
                                a((click)="addInput(this.language, i)") {{language.language}}
                    input([attr.disabled]="this.doEdit[user.user_name] == true ? null : true", class="form-control" type="text" placeholder="{{user.language}}", [(ngModel)]="users[i].language", name="language",#user_name="ngModel")
                div(class="input-group input-group-sm")
                    span(class="input-group-addon", [attr.disabled]="this.doEdit[user.user_name] == true ? null : true") Password
                    input([attr.disabled]="this.doEdit[user.user_name] == true ? null : true", class="form-control" type="password", placeholder="****", [(ngModel)]="users[i].password", name="password", #password="ngModel")
            div(*ngIf="this.doEdit[user.user_name]", (click)="done(this.user, i)", class="panel-footer", id="done_edit") done
            div(*ngIf="!this.doEdit[user.user_name]", (click)="edit(this.user, i)", class="panel-footer") edit
            div(*ngIf="!this.doEdit[user.user_name]", (click)="delete(this.user, i)", class="panel-footer") delete